/* expense-date.module.css */

.expense-date {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000000, #0a0a0a);
    border-radius: 12px;
    border: 2px solid #ffffff;
    padding: 10px;
    color: #fff;
    height:45 px;
    width: 65px;
    margin: 0 auto; /* Center horizontally using margin */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .month {
    color: #ffffff; /* Blue color */
  }
  
  .date {
    color: #ffffff; /* Dark gray color */
  }
  
  .year {
    color: #ffffff; /* Medium gray color */
  }
  